<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <style>
        body {
            background: url("{% static 'images/background.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>

    

   
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'aboutme_update' %}">About Me</a></li>
                <li><a href="{% url 'education_list' %}">Education</a></li>
                <li><a href="{% url 'project_list' %}">Projects</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p> Mayur Kosandar </p>
    </footer>
</body>
</html>

