{% extends "portfolio_app/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<p style="background-image: url('projects/pg_app.png');">
<h1>Projects</h1>
<ul>
  <h3>.<li><strong>Project 1:</strong> <em>Blog Platform web application</em> - A Blog Platform is a web application that allows users to create, manage, and share blog posts online.<br> It provides features for writing and editing articles, organizing them by categories or tags, and interacting with readers through comments.<br> Users can sign up for accounts, publish posts, and customize their profile. The platform typically includes a user-friendly interface, search<br> functionality, and options for users to follow blogs, like posts, or share content on social media.     </li><br><br></h3>.
  <h3><li><strong>Project 2:</strong> <em>Password Generator web application</em> - A Password Generator is a web application that helps users create strong, random passwords for enhanced security. <br>It allows users to customize password length, choose character types (such as uppercase letters, numbers, and symbols), <br>and generate unique passwords with just a click. This tool helps ensure that passwords are complex and hard to guess, reducing the risk of security breaches.</li><br><br></h3>
  <h3><li><strong>Project 3:</strong> <em>Vowels and Character Counter web application</em> - A Vowels and Character Counter is a web application that counts the number of vowels and total characters <br>in a given text. Users can input any text, and the tool will instantly calculate and display the number of vowels (A, E, I, O, U)<br> and the total character count, helping users analyze text quickly and efficiently.</li></h3>.
</ul>
{% endblock %}